<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"></head>
<body>

<div class="site-wrap">
    <header th:replace="fragments/header.html :: header"></header>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_home'}">Home</a>
                    <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Checkout</strong>
                    <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Order Info</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">Billing Details</h2>
                    <form  class="p-3 p-lg-5 border" th:object="${adressInfo}" th:action="@{'~' + ${flowExecutionUrl} + '&_eventId_confirm'}"
                           method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="c_country" class="text-black">Country <span class="text-danger">*</span></label>
                            <input id="c_country" class="form-control" type="text" th:field="*{country}">
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_address" class="text-black">Address <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_address" name="c_address"
                                       placeholder="Street address" th:field="*{adress}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="c_postal_zip" class="text-black">Postal / Zip <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip" th:field="*{zipcode}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="c_order_notes" class="text-black">Order Notes</label>
                            <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                                      placeholder="Write your notes here..." th:field="*{additionalInfo}"></textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Next</button>
                        </div>

                    </form>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>

  <footer th:replace="fragments/footer.html :: footer"></footer>
</div>

<script th:replace="fragments/footer.html :: scripts"></script>

</body>
</html>