<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"></head>
<body>

<div class="site-wrap">
    <header th:replace="fragments/header.html :: header"></header>

    <<div th:replace="fragments/header.html :: navigation ('Cart')"></div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-name">Size</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cartProd : ${cartProducts}">
                                <td class="product-thumbnail">
                                    <img th:if="${!cartProd.key.product.pictures.isEmpty()}" class="img-fluid" th:src="@{/pictures/{pictureId}(pictureId=${cartProd.key.product.pictures[0].id})}"/>
                                </td>
                                <td class="product-name">
                                    <h2 th:text="${cartProd.key.product.name}" class="h5 text-black"></h2>
                                </td>
                                <td class="product-name">
                                    <h2 th:text="${cartProd.key.size}" class="h5 text-black"></h2>
                                </td>
                                <td th:text="'$' + ${cartProd.key.product.price}"></td>
                                <td>
                                    <div class="input-group mb-3" style="max-width: 120px;">
                                        <div class="input-group-prepend">
                                            <a th:href="@{/cart/{productId}/{sizeId}/removeQty(productId=${cartProd.key.product.id}, sizeId=${cartProd.key.size.id})}" class="btn btn-outline-primary">&minus;</a>
                                        </div>
                                        <input type="text" class="form-control text-center" th:value="${cartProd.value}" placeholder=""
                                               aria-label="Example text with button addon"
                                               aria-describedby="button-addon1">
                                        <div class="input-group-append">
                                            <a th:href="@{/cart/{productId}/{sizeId}/addQty(productId=${cartProd.key.product.id}, sizeId=${cartProd.key.size.id})}" class="btn btn-outline-primary">&plus;</a>
                                        </div>
                                    </div>
                                </td>
                                <td><a th:href="@{/cart/{productId}/{sizeId}/delete(productId=${cartProd.key.product.id}, sizeId=${cartProd.key.size.id})}" class="btn btn-primary btn-sm">X</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a class="btn btn-outline-primary btn-sm btn-block" th:href="@{/shop}">Continue Shopping</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong th:text="'$' + ${@cartService.getSubTotal()}" class="text-black"></strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <a th:href="@{/checkout}" sec:authorize="isAuthenticated()" class="btn btn-primary btn-lg py-3 btn-block">Proceed To Checkout</a>
                                    <span sec:authorize="!isAuthenticated()" th:text="'Order is available only to authorized users'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <footer th:replace="fragments/footer.html :: footer"></footer>
</div>

<script th:replace="fragments/footer.html :: scripts"></script>

</body>
</html>