<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header.html :: head"></head>
<body>

<div th:object="${product}" class="site-wrap">
    <header th:replace="fragments/header.html :: header"></header>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black" th:text="*{name}"></strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img th:if="*{!pictures.isEmpty()}" th:src="@{/pictures/{pictureId}(pictureId=*{pictures[0].id})}" th:alt="*{name}" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2 th:text="*{name}" class="text-black"></h2>
                    <p th:text="*{description}"></p>
                    <p><strong th:text="'$' + *{price}" class="text-primary h4"></strong></p>
                    <form th:action="@{/cart/update}" method="POST">
                        <input type="hidden" th:value="${product.id}" name="productId" id="productId">
                        <input type="hidden" th:value="@{__${#httpServletRequest.requestURI}__}" name="pageUrl" id="pageUrl">
                        <div class="mb-1 d-flex">
                            <div th:each="size : *{sizes}">
                                <label th:for="size" class="d-flex mr-3 mb-3">
                                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" th:value="${{size}}" th:id="size" th:name="size"></span>
                                    <span th:text="${size.value}" class="d-inline-block text-black"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="input-group mb-3" style="max-width: 120px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                </div>
                                <input th:id="qty" th:name="qty" type="text" class="form-control text-center" th:value="1" placeholder=""
                                       aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                </div>
                            </div>

                        </div>
                        <p><input class="buy-now btn btn-sm btn-primary" type="submit" name="submit" value="Add To Cart"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

  <footer th:replace="fragments/footer.html :: footer"></footer>
</div>

<script th:replace="fragments/footer.html :: scripts"></script>

</body>
</html>